body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.search-link {
    text-align: center;
    margin-top: 20px;
}

.search-link a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: Blue;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}


.search {
    align-items: center;
}



